[submodule "Rocket/vendor/imgui"]
	path = Rocket/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Rocket/vendor/imguizmo"]
	path = Rocket/vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
