*

# whitelist
!/.editorconfig
!/.gitignore
!/.gitmodules
!/.gitattributes
!/CMakeLists.txt
!/README.md

!/assets/
!/assets/**
!/custom-triplets/
!/custom-triplets/**
!/editor/
!/editor/config/
!/editor/config/**

!/Rocket/
!/Rocket/**

!/RocketGlue/
!/RocketGlue/**

!/RocketLauncher/
!/RocketLauncher/CMakeLists.txt
!/RocketLauncher/assets/
!/RocketLauncher/assets/**
!/RocketLauncher/src/
!/RocketLauncher/src/**

# visual studio
.vs/
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
.vscode/
.idea/

# Build output
[Bb]in/
[Bb]in-[Ii]nt/
[Oo]bj/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# C++ Build Artifacts
*.ifc
*.obj
*.pdb
*.exe
*.dll
*.lib
*.ilk
*.exp
*.log
*.ini
*.json
*.yaml

!/CMakePresets.json
!/vcpkg.json
